.side_bar
  .side_bar_information
    %i.far.fa-newspaper
    %p お知らせ

  .side_bar_diary
    %i.fas.fa-pencil-alt
    %p 日誌

  .side_bar_message
    %i.far.fa-comments
    %p メッセージ

  .side_bar_picture
    %i.fas.fa-camera-retro
    %p 写真

  .side_bar_contact
    %i.fas.fa-phone
    %p お問い合わせ