.admin__body
  .admin__header
    .admin__header__logo
      = link_to root_path, class:"btn-logo" do
        = image_tag "logo1.png", size: "80x100", alt: "logo"
    .admin__header__title
      %h1 ユーザー管理者ページ
  .admin__main
    .admin__main__buttons
      .admin__main__button
        %h2　児童登録
      .admin__main__button
        %h2　投稿
      .admin__main__button
        %h2　メッセージ
      .admin__main__button
        %h2　写真


