* {
  box-sizing: border-box;
}

.wrapper_notices {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;

  .side_bar {
    z-index: 1;
    height: 100vh;
    width: 300px;
    text-align: center;
    font-size: 80px;
    border-right: 1px solid rgb(139, 139, 139);
    
    &_notice {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: red;
      }
      p {
        font-size: 20px;
      }
    }
    
    &_diary {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(255, 136, 0);
      }
      p {
        font-size: 20px;
      }
    }
    
    &_message1 {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(51, 255, 0);
      } 
      p {
        font-size: 20px;
      }
    }
    
    &_album {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(0, 225, 255);
      } 
      p {
        font-size: 20px;
      }   
    }
    
    &_contact {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(153, 0, 255);
      }
      p {
        font-size: 20px;
      }
    }
  }
    
  .main {
    height: 100%;
    width: calc(100% - 300px);
    &_header {
      height: 20%;
      display: flex;
      border-bottom: 1px solid rgb(139, 139, 139);
      &_kid {
        padding: 20px 30px;
        width: 50%;
        display: flex;
        align-items: center;
        position: relative;
        h {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        p {
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
        }
      }
      &_user {
        padding: 20px 30px;
        width: 35%;
        display: flex;
        align-items: center;
        position: relative;
        h {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        p {
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
        }
      }
      &_menu {
        width: 15%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .btn-edit {
          color: green;
        }
        .btn-logout {
          color: brown;
        }
      }
    } 

    
    &_albums {
      height: 80%;
      width: 100%;
      padding: 30px 40px;
      display: flex;
      flex-wrap: wrap;
      .main_album {
        height: 50%;
        width: calc(100% / 3);
        padding: 0px 20px 20px;
        &_title {
        }
        &_image {
          height: 200px;
        }
        &_date {
          height: 20px;
        }
      }
    }
  }
}

// 背景
html, body {
  height: 100%;
}

html {
  background: #eee;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 40%;
  left: 50%;
  background: rgb(252, 206, 139);
  width: 700px;
  height: 700px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 400px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 40px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}