* {
  box-sizing: border-box;
}

.wrapper_notices {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(252, 233, 164);

  .side_bar {
    z-index: 1;
    height: 100vh;
    width: 300px;
    text-align: center;
    font-size: 80px;
    border-right: 1px solid rgb(139, 139, 139);
    
    &_notice {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: red;
      }
      p {
        font-size: 20px;
      }
    }
    
    &_diary {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(255, 136, 0);
      }
      p {
        font-size: 20px;
      }
    }
    
    &_message {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(51, 255, 0);
      } 
      p {
        font-size: 20px;
      }
    }
    
    &_album {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(0, 225, 255);
      } 
      p {
        font-size: 20px;
      }   
    }
    
    &_contact {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(153, 0, 255);
      }
      p {
        font-size: 20px;
      }
    }
  }
    
  .main {
    height: 100%;
    width: calc(100% - 300px);
    &_header {
      height: 20%;
      display: flex;
      border-bottom: 1px solid rgb(139, 139, 139);
      &_kid {
        padding: 20px 30px;
        width: 50%;
        display: flex;
        align-items: center;
        position: relative;
        h {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        p {
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
        }
      }
      &_user {
        padding: 20px 30px;
        width: 35%;
        display: flex;
        align-items: center;
        position: relative;
        h {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        p {
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
        }
      }
      &_menu {
        width: 15%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .btn-edit {
          color: green;
        }
        .btn-logout {
          color: brown;
        }
      }
    } 
    &_diary {
      height: 80%;
      width: 100%;
      overflow: scroll;
      display: flex;
      justify-content: space-around;
      &_today {
        padding: 30px 40px;
        height: 100%;
        width: 100%;
        font-size: 25px;
        &_upper {
          height: calc(100%/5);
          width: 100%;
          display: flex;
          justify-content: space-around;
          p {
            width: 100%;
            font-weight: bold;
          }         
          .button {
            text-align: right;
            display       : inline-block;
            border-radius : 20%;          /* 角丸       */
            font-size     : 18pt;        /* 文字サイズ */
            text-align    : center;      /* 文字位置   */
            cursor        : pointer;     /* カーソル   */
            padding       : 9px 19px;   /* 余白       */
            background    : #ff7f00;     /* 背景色     */
            color         : #ffffff;     /* 文字色     */
            line-height   : 1em;         /* 1行の高さ  */
            transition    : .3s;         /* なめらか変化 */
            box-shadow    : 9px 9px 2px #666666;  /* 影の設定 */
            border        : 2px solid #ff7f00;    /* 枠の指定 */
          }
          .button:hover {
            box-shadow    : none;        /* カーソル時の影消去 */
            color         : #ff7f00;     /* 背景色     */
            background    : #ffffff;     /* 文字色     */
          }
        }
        &_dinner {
          height: calc(100%/5);
          width: 100%;
          padding: 20px 30px;
          display: flex;
          justify-content: space-evenly;
          display: flex;
          align-items: center;
          &_content {
            padding-right: 30px;
          }
        }
        &_breakfast {
          height: calc(100%/5);
          width: 100%;
          padding: 20px 30px;
          display: flex;
          justify-content: space-evenly;
          display: flex;
          align-items: center;
        }
        &_excreta {
          height: calc(100%/5);
          width: 100%;
          padding: 20px 30px 20px 100px;
          display: flex;
          justify-content: space-evenly;
          display: flex;
          align-items: center;
          &_times {
            width: 40%;
          }
          &_condition {
            width: 40%;
          }
        }
        &_sleep {
          height: calc(100%/5);
          width: 100%;
          padding: 20px 0px 20px 100px;
          display: flex;
          align-items: center;
          &_time {
            width: 100%;
            padding-left: 20px;
            display: flex;
            p {
              padding-left:  50px;
              margin-right: 100px;
              width: 40%;
            }
            .main_diary_today_sleep {
              width: 30%;
            }

          }
        }
      }
    }
  }
} 