* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;

  .side_bar {
    z-index: 1;
    height: 100vh;
    width: 300px;
    text-align: center;
    font-size: 80px;
    border-right: 1px solid rgb(139, 139, 139);
    
    &_information {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: red;
      }
      p {
        font-size: 20px;
      }
    }
    
    &_diary {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(255, 136, 0);
      }
      p {
        font-size: 20px;
      }
    }
    
    &_message {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(51, 255, 0);
      } 
      p {
        font-size: 20px;
      }
    }
    
    &_picture {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(0, 225, 255);
      } 
      p {
        font-size: 20px;
      }   
    }
    
    &_contact {
      padding: 20px 0px;
      height: calc(100% / 5);
      a {
        text-decoration: none;
        color: rgb(153, 0, 255);
      }
      p {
        font-size: 20px;
      }
    }
  }
    
  .main {
    height: 100%;
    width: calc(100% - 300px);
    &_header {
      height: 20%;
      display: flex;
      border-bottom: 1px solid rgb(139, 139, 139);
      &_kid {
        background-color: turquoise;
        padding: 20px 30px;
        width: 40%;
        display: flex;
        align-items: center;
        position: relative;
        h {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        p {
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
        }
      }
      &_user {
        background-color: rgb(137, 181, 247);
        padding: 20px 30px;
        width: 40%;
        display: flex;
        align-items: center;
        position: relative;
        h {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        p {
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
        }
      }
      &_menu {
        background-color: rgb(184, 183, 192);
        width: 20%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .btn-edit {
          color: green;
        }
        .btn-logout {
          color: brown;
        }
      }
    } 
    &_kids {
      background-color: rgb(255, 225, 169);
      height: 80%;
      width: 100%;
      overflow: scroll;
      &_select {
        background-color: orange;
        height: 30px;
        width: 100%;
        padding-left: 30px;
      }
      &_selectlist {
        height: 250px;
        width: 100%;
        padding: 60px 120px 30px 120px;
        display: flex;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        a {
          position: absolute;
          top: 0;
          left: 0;
          height:100%;
          width: 100%;
          text-decoration: none;
          opacity: 0;
        }
        &_pic {
        }
        &_name {
        }
        &_class {
        }
      }
    }
  }
}
